*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: rgb(16, 28, 27);
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-container{
  height: 500px;
  width: 350px;
}

.input-container{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.input-box{
  height: 50px;
  width: 70%;
  border: none;
  border-radius: 10px;
  margin-right: 8px;
  padding-left: 8px;
  border:1px solid black;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

.add-btn{
  width:40px;
  height:40px;
  border-radius: 50%;
  border:none;
  background-color:#316fc1;
  color: white;
  font-weight: bolder;
  font-size: larger;
  margin-left: 10px;  
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(11, 10, 10, 0.3);
}

.add-btn i:hover{
  cursor: pointer;
}

.app-heading{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.list-item{
  height: 40px;
  width: 350px;
  border:3px solid rgb(255, 255, 255);
  color: white;
  border-radius: 7px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  list-style-type: none;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 8px;
  margin-top: 12px;
}

.icons{
  position: absolute;
  right: 10px;
}

.icons i:hover{
  cursor: pointer;
}